<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete A User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <!-- the a se tuong ung voi viec goi toi method "GET" -->
        <a class="" href="/create">Create User</a>
    </div>

    <div class="form-add-new">
        <form action="/delete-user" method="POST">
            <fieldset>
                <legend>Delete a user</legend>
                <div class="input-group d-none">
                    <label>ID: </label>
                    <input type="text" name="userID" value="<%= userEdit.id %>" />
                </div>
                <div class="input-group">
                    <label>Are you sure DELETE User with Email: </label>
                    <input type="text" name="email" value="<%= userEdit.email %>" />
                    <!-- Lay the name ma ko lay the id vi Radio button co nhieu option thi chi chon dc 1, lay theo id thi ko dc trung, lay theo name thi co the trung,
                    server dua vao the name de lay gia tri -->
                    <!-- tach ra lam 2 routes /create vs /create-user -->
                </div>

                <div>
                    <button> Confirm </button>
                </div>
        </form>
        </fieldset>
    </div>

</body>

</html>