<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    Hello world with EJS
    <div>
      <!-- khi cấu hình như này, nó sẽ đọc config trong server.js, đã config static file trong folder "public", nên chỉ cần trỏ tới css/images/js -->
      <img class="hoidanit" src="/images/hoidanit.png" alt="">
    </div>
  </body>
</html>
